#optionsBtn {
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 0 0 50px;
  width: 60px;
}

#optionsBtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#optionsBtn img:hover {
  cursor: pointer;
  transition: 0.5s;
}

#options {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#options p,
#links a {
  position: static;
  text-decoration: none;
  font-size: 25px;
  color: #FAF9F6;
  white-space: nowrap;
  text-align: left;
  padding-left: 10px;
}

#links {
  padding-bottom: 50px;
}

#links a, #options a {
  width: 100%;
  display: block;
  padding-left: 10px;
  color: #ffeeba;
  font-size: 20px;
  white-space: normal;
  word-break: break-all;
}

#options a {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  top: 200%;
  font-size: 40px;
}

#links a:hover, #options a:hover {
  color: #FAF9F6;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(67, 133, 47, 0.8);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-sizing: border-box;
}

.sidenav select {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  transition: 0.3s;
  display: inline;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  text-align: right;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#options form select {
  width: 100%;
}

#options form input {
  width: fit-content;
  font-size: 20px;
}

#sortp {
  padding: 20px 0 0 0;
}

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#home {
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}